<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
	<head>
		<title>Grid</title>
		<meta charset="utf-8">
	    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
		<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="pragma" content="no-cache" />
		<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE, NO-STORE, MAX-AGE=0">
		
		<!--[if IE < 10]>
			<meta http-equiv="refresh" content="0;url=browser_requirement.html"/>
		<![endif]-->
		
		<link rel="icon" href="favicon.ico" type="image/x-icon" />
	    <link type="text/css" href="../assets/css/index.css" rel="stylesheet">

		<style>
			#app_wrapper{
				height: 100%;
			}
			.form-group{
				margin-bottom: 5px;
			}
			main{
				padding: 0px 0 0px 0px;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				flex-direction: column;
				height: 100%;
			}
			.filter-section{
				padding: 5px 0 0;
    		}
    		main>.container-fluid{
			    flex: 0 1 100%;
			    width: 100%;
    		}
			.ui-grid-row:nth-child(even) .ui-grid-cell {
			    background-color: #f3f3f3;
			}
		</style>
		<script src="../assets/js/vendor/angular-1.4.7/angular.min.js"></script>
		<script src="../assets/js/vendor/angular-1.4.7/angular-route.min.js"></script>
		<script src="../assets/js/vendor/angular-1.4.7/angular-sanitize.min.js"></script>
		<script src="../assets/js/vendor/angular-1.4.7/angular-resource.min.js"></script>
		<script src="../assets/js/vendor/angular-1.4.7/angular-animate.min.js"></script>
		<script src="../assets/js/vendor/angular-1.4.7/angular-touch.min.js"></script>
		<script src="../assets/js/vendor/ui-grid/ui-grid.min.js"></script>
		<script src="../assets/js/vendor/angular-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
		<script src="../assets/js/vendor/plugins/angular-inform/angular-inform.min.js"></script>
		<script src="index.js"></script>
	    
	</head>
	<body style="font-family: {{fontFamily}}; font-size: {{fontSize}}px">
	
	<div id="app_wrapper" class="app-sidebar-fixed app-sidebar-closed"> 
		<!--  header id="header" app-header class="navbar navbar-default navbar-fixed-top hidden-print"><!-- start: TOP NAVBAR -->
		</header-->
		
		<div inform class="inform-shadow inform-animate inform-fixed"></div>
		
		<div class="page-mask text-center text-muted nga-fast nga-stagger nga-fade" ng-if="showLoading===true">
			<div class="ui-loader"></div>
		</div>
		
		<main id="main" ng-controller="myCtrl">
			<div class="filter-section">
				<div class="container-fluid">
					<div class="form-group">
						<label class="">URL <a href="javascript:;" class="fa-lg" ng-click="showHelpModel()"><i class="fa fa-question-circle"></i></a></label>
						<input class="form-control input-sm" type="text" ng-required="" ng-trim="" ng-model="url">
					</div>
					<div class="text-right">
						<button class="btn btn-success btn-xs" ng-click="getServiceData()" style="margin: 0 5px">&nbsp;&nbsp;&nbsp;Go&nbsp;&nbsp;&nbsp;</button>
						<button class="btn btn-default btn-xs" ng-click="url=''">&nbsp;&nbsp;Clear&nbsp;&nbsp;</button>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div ng-if="gridOptions" ui-grid="gridOptions" class="gridStyle" style="height: 100%;">
				
				</div>
			</div>
    <script type="text/ng-template" id="helpContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Help</h3>
        </div>
        <div class="modal-body">
			<pre>
Request can be GET or POST (default is GET)
Any set of URL parameters can be passed
Response should be in following format.
{
	"columns": [ {
		"displayName": "Column header name",
		"field": "<field name to lookup in json>",
		"type": can be any of the following "string"|"number"|"flag"|"boolean"|"currency"
		"cellFilter": following are auto setup
			"number": "decimal:\"\":2"
			"currency": "decimal:\"$\":2"
				more filters available like "number:<decimal places to show>",
		"cellClass": by default no need to set if type is specified properly
	} ],
	"list": [{}, ....] @Data as list of objects
}
			</pre> 
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        </div>
    </script>	
		</main>
		
		<!-- footer app-footer></footer-->
	</div>	
	</body>
</html>