<style>
	.revenueTrend .widget-content {
		height: 320px;
	}
	
	.axis path, .axis line {
		fill: none;
		stroke: rgba(0, 0, 0, 0.25);
		shape-rendering: crispEdges;
		pointer-events: none;
	}
	.axis text {
		font-family: sans-serif;
		fill: #666666;
		font-size: 13px;
		shape-rendering: crispEdges;
	}

	.legend {
		float: left;
	}

	.legend-item {
		float: left;
/*		margin: 5px;
		border-radius: 4px;
		box-shadow: 0px 0px 3px #565656;*/
		padding: 5px 5px 0px 5px;
		cursor: pointer;
	}

	.legend-bar {
		width: 100%;
		height: 8px;
		border-radius: 4px;
		/*margin: 0 5px 0 0;*/
		box-shadow: -1px -1px 1px #525252;
	}

	.legend-label {
		float: left;
		/*padding: 0px 0px 0 3px;*/
	}

	.legend-check {
		float: left;
	}

	.trend-chart-container {
		position: relative;
		margin-top: 5px;
	}

	.checkbox-container {
		font-size: inherit;
		font-weight: 400;
		margin: 5px 10px -5px 5px;
		float: left;
	}

	.checkbox-container div {
		float: left;
		margin: -1px 0px 0 4px;
	}

	.checkbox-container input {
		float: left;
		margin: 0;
	}

	.option-container {
		padding: 0;
		margin: 0 4px 0 0;
		float: right;
	}

	.option-container select {
		padding: 4px 0;
        height: inherit;
        font-size: inherit;
	}

	.hover-container {
		position: absolute;
		padding: 10px;
		opacity: 0.9;
		border-radius: 4px;
		box-shadow: 0px 0px 10px black;
		z-index: 101;
	}

	.hover-label {
		color: white;
		font-weight: bold;
	}

	.btn-legend {
		padding: 3px;
		font-size: inherit;
		margin-left:4px;
	}

</style>

<div class="widget-content">
	<h4 class="widget-title">
		<span class="pull-right">
			<a href="javascript:;"><i class="fa fa-gear" title="Edit Settings"></i></a>
			<a href="javascript:;"><i class="glyphicon glyphicon-fullscreen" title="Maximize View"></i></a>
		</span>
		<i class="fa fa-bar-chart text-info"></i> Revenue Trend
	</h4>
	<div class="widget-inner">
		<div class="dropdown multiselect" uib-dropdown on-toggle="toggled(open)" style="position: absolute; top: 5px; z-index: 1; right: 10px;">
			<button uib-dropdown-toggle class="btn btn-default btn-xs text-left dropdown-toggle" style="width: 120px"><span ng-bind="optionsText" style="text-transform: capitalize"></span> <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li ng-repeat="opt in options">
					<a role="menuitem" tabindex="-1" ng-click="setSelected($event, opt)" style="border-left: 6px solid {{colorShades[$index+3]}}">
						<i ng-if="opt.selected===true||options[0].selected===true" class="fa fa-check-square-o"></i>
						<i ng-if="!opt.selected===true && !options[0].selected" class="fa fa-square-o"></i> 
						<span ng-if="opt.caption" ng-bind="opt.caption"></span>
						<span ng-if="!opt.caption" ng-bind="opt.name"></span>
					</a>
				</li>
			</ul>
		</div>
		<div highcharts ng-if="chartConfig" data-stock="true" data-config="chartConfig"></div>

<!-- 	<div class="trend-chart-container">

		<div class="legend">
< ! - -			<div class="legend-item" ng-repeat="x in items" ng-click="x.show=!x.show">
				<div class="legend-bar" ng-style="{'background-color':x.color, 'opacity': x.show ? 1:0.25}"></div>
				<div class="legend-label" ng-style="{'color': x.show ? 'rgba(0,0,0,1)':'rgba(0,0,0,0.25)'}">{{x.label}}</div>
			</div> - - >
			<button class="btn btn-default btn-legend" ng-style="{'background-color':x.color, 'opacity': x.show ? 1:0.25, 'color': x.show ? '#FFF':'#000'}" ng-repeat="x in items" ng-click="x.show=!x.show">
				{{x.label}}
			</button>
		</div>

		<div class="option-container">
			<select class="form-control" ng-model="measure" ng-options="m.label for m in measures"></select>
		</div>

		<div class="option-container">
			<select class="form-control" ng-model="period" ng-options="p.label for p in periods"></select>
		</div>

		<div class="checkbox-container">
			<input type="checkbox" ng-model="stacked"><div>Stacked</div>
		</div>

		<svg class="bar-chart-svg"></svg>

		<div class="hover-container">
			<div class="hover-label"></div>
		</div>

	</div> -->
	</div>

</div>