<style>
	.rateAlerts .ui-grid-viewport{
		min-height: 182px !important;
		overflow-x: hidden !important;
	}
	.rateAlerts .widget-content{
		position: relative;
		min-height: 312px;
	}
	.rateAlerts .tab-content{
		height: 88%;
	}
	.rateAlerts .tab-pane{
		height: 100%;
	}
	
	.rateAlerts .rate-change-arrow:hover {
	    color: green;
	    text-decoration: none;
	}
	.rateAlerts .rate-change-arrow {
	    float: left;
	    cursor: pointer;
	    font-size: 1.2em;
	    line-height: 1em;
	    color: #337ab7;
	    text-decoration: none;
	    margin-left: 15px;
	}
	.rateAlerts .nav-pills{
		margin-top: 4px;
	    padding-left: 2px;
	    margin-bottom: 5px;
	}
	.rateAlerts .nav-pills>li>a {
	    padding: 6px 15px 5px;
	}
</style>
<div class="widget-content">
	<h4 class="widget-title">
		<span class="pull-right">
			<a href="javascript:;"><i class="fa fa-gear" title="Edit Settings"></i></a>
			<a href="javascript:;"><i class="glyphicon glyphicon-fullscreen" title="Maximize View"></i></a>
		</span>
		<i class="fa fa-bell text-primary"></i> Rate Alerts
	</h4>
	<div class="widget-inner" uib-tabset type="pills">
			<uib-tab select="alertMe(0)"> <uib-tab-heading> Active (<span ng-bind="activeList.length"></span>) </uib-tab-heading>
				<div ng-if="activeGridOptions" ui-grid="activeGridOptions" class="gridStyle"></div>
			</uib-tab> 
			<uib-tab select="alertMe(1)"> <uib-tab-heading> Snoozed (<span ng-bind="snoozedList.length"></span>) </uib-tab-heading>
				<div ng-if="snoozedGridOptions" ui-grid="snoozedGridOptions" class="gridStyle"></div>
			</uib-tab> 
			<uib-tab select="alertMe(2)"> <uib-tab-heading> Dismissed (<span ng-bind="dismissedList.length"></span>) </uib-tab-heading>
				<div ng-if="dismissedGridOptions" ui-grid="dismissedGridOptions" class="gridStyle"></div>
			</uib-tab> 
	</div>
</div>