<div>
			<div class="mosaic-bar">
				<div class="container-fluid">
					<span id="color1"></span>
					<span id="color2"></span>
					<span id="color3"></span>
					<span id="color4"></span>
				</div>
			</div>
			
			<!-- start: NAVBAR HEADER -->
			<div class="navbar-header ">
<!-- 				<a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg"> <i class="ti-align-justify"></i> </a> -->
				<a class="navbar-brand" href="javascript:;" title="Prime Brokerage Workstation">
					<span class="logo">
						<img src="assets/images/logo-p.png" class="imgp">
						<img src="assets/images/logo-b.png" class="imgb">
					</span>
					<span class="text2">Workstation</span>
				</a>
<!-- 				<a href="#" class="sidebar-toggler pull-right visible-md visible-lg" > <i class="ti-2x ti-align-justify"></i> </a> -->
<!-- 				<a type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar"> -->
<!-- 					<span class="sr-only">Toggle navigation</span> <i class="ti-align-justify"></i>  -->
<!-- 				</a> -->
			</div>
			<!-- end: NAVBAR HEADER -->
			<!-- start: NAVBAR COLLAPSE -->
			<div class="navbar-collapse collapse">
				<div class="navbar-left">
					<div id="screenName" class="col-xs-12 fa-2x" style="padding-top: 10px;text-transform:uppercase;font-size: 18px;">{{screenName}}</div>
				</div>
				<div class="navbar-right">
					<div class="sm-hidden col-md-5" style="padding-top:7px">
						<select id="fontFamily" class="form-control input-sm" ng-model="fontFamily" style="background-color: transparent; color: #ccc;">
							<option value="Georgia, serif">Georgia, serif</option>
							<option value="'Palatino Linotype', 'Book Antiqua', Palatino, serif">"Palatino Linotype", "Book Antiqua", Palatino, serif</option>
							<option value="'Times New Roman', Times, serif">"Times New Roman", Times, serif</option>
							<option value="Arial, Helvetica, sans-serif">Arial, Helvetica, sans-serif</option>
							<option value="'Lucida Sans Unicode', 'Lucida Grande', sans-serif">"Lucida Sans Unicode", "Lucida Grande", sans-serif</option>
							<option value="'Trebuchet MS', Helvetica, sans-serif">"Trebuchet MS", Helvetica, sans-serif</option>
							<option value="Verdana, Geneva, sans-serif">Verdana, Geneva, sans-serif</option>
							<option value="Tahoma, Geneva, sans-serif">Tahoma, Geneva, sans-serif</option>
							<option value="'Arial Black', Gadget, sans-serif">"Arial Black", Gadget, sans-serif</option>
							<option value="'Open Sans'">Google "Open Sans"</option>
							<option value="'Lato'">Google "Lato"</option>
							<option value="Roboto">Google "Roboto"</option>
							<option value="Montserrat">Google "Montserrat"</option>
							<option value="'Droid Sans'">Google "Droid Sans"</option>
						</select>
					</div>
					<div class="sm-hidden col-md-3" style="padding-top:7px">
						<select id="fontSize" class="form-control input-sm" ng-model="fontSize"  style="background-color: transparent; color: #ccc;">
							<option value="8">8px</option>
							<option value="9">9px</option>
							<option value="10">10px</option>
							<option value="11">11px</option>
							<option value="12">12px</option>
							<option value="13">13px</option>
							<option value="14">14px</option>
							<option value="16">16px</option>
							<option value="18">18px</option>
							<option value="20">20px</option>
							<option value="22">22px</option>
							<option value="24">24px</option>
							<option value="28">28px</option>
							<option value="32">32px</option>
						</select>
					</div>					
					<div id="userName" style="color: #fff;white-space:nowrap">{{firstName}}, {{lastName}}</div>
				</div>
			</div>
</div>