<div>
	<div class="filter-section form-inline">
		<div class="container-fluid" ng-show="!selectedProfile">
			<div class="form-group">
				<label class="fa-lg">Group Profiles: </label>
				<select class="form-control input-sm" ng-options="p as p.name for p in profiles track by p.id" ng-model="selectedProfile" ng-change="setRows()">
					<option value="">Select</option>
				</select>
			</div>
			<button class="btn btn-primary btn-sm pull-right" ng-click="addNewProfile()"><i class="fa fa-plus"></i> Add New Profile</button>
		</div>
		<div class="container-fluid form-inline" ng-show="selectedProfile">
			<div class="form-group">
				<label class="fa-lg">Profile Name</label>
				<input ng-disabled="selectedProfile.id == 0" class="form-control input-sm" ng-model="selectedProfile.name">
			</div>
			<div class="pull-right">
				<button class="btn btn-info btn-sm" ng-click="showWidgetList()" style="margin: 0 10px">Select Widgets</button>|
				<button class="btn btn-success btn-sm" ng-click="saveProfile()" style="margin: 0 10px">Save</button>
				<button class="btn btn-default btn-sm" ng-click="cancelEdit()">Cancel</button>
			</div>
		</div>
	</div>
	<div class="layout-mgr-area container-fluid" ng-if="rows">
		<div class="row widget-row draggable-objects" ng-repeat="row in rows" ng-drop="true" ng-drop-success="onDropCompletion($data, $event, row, $index)">
			<widget ng-repeat="widget in row" meta="widget" layout="true" index="{{$index}}" title="{{widget.meta.name}}" id="wgt-{{widget.meta.id}}"></widget>
		</div>
	</div>	
</div>