<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>PBW2.0</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<context-param>
	    <param-name>appVersion</param-name>
	    <param-value>BUILDNUMBER</param-value>
	</context-param>

	<servlet>
		<display-name>JAX-RS REST Servlet</display-name>
		<servlet-name>JAXRSRestServlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>com.fidelity.mrmpbw.services</param-value>
		</init-param>
		<!-- Enable Tracing support. -->
		<init-param>
			<param-name>jersey.config.server.tracing</param-name>
			<param-value>ALL</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
			<param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>JAXRSRestServlet</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>

	<!-- SERVLET To initilize and Reset the PWB APP CACHE -->
	<servlet>
		<display-name>Init app cache</display-name>
		<servlet-name>InitAppCacheServlet</servlet-name>
		<servlet-class>com.fidelity.mrmpbw.services.InitializePWBCacheServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
        <async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitAppCacheServlet</servlet-name>
		<url-pattern>/reset/cache</url-pattern>
	</servlet-mapping>

	<filter>
		<display-name>ExtractUserID</display-name>
		<filter-name>ExtractUserID</filter-name>
		<filter-class>com.fidelity.mrmpbw.filters.ExtractUserIdFilter</filter-class>
        <async-supported>true</async-supported>
	</filter>
	<filter-mapping>
		<filter-name>ExtractUserID</filter-name>
		<servlet-name>JAXRSRestServlet</servlet-name>
	</filter-mapping>
	
	<filter>
		<!--  Authentication filter that will filter all URL request based on the entries in entitlement table -->
		<filter-name>AuthFilter</filter-name> <!-- mandatory -->
		<filter-class>com.fidelity.fcm.auth.filter.AuthenticationFilter</filter-class> <!-- mandatory -->
		<init-param> 
			<!-- Query to get the entitlement details form the data base, 
			Col 1 - URL to be protected 
			Col 2 - Privilege name
			Col 3 - read/write access -->
			<param-name>sql-query</param-name>
			<param-value>SELECT SERVICE_URL, PRIVILEGE_NAME, MIN_ACCESS FROM INFRADBO.PRIME_SERVICE_ENTITLEMENTS WHERE APPLICATION = 'PBW'</param-value>
		</init-param>
		<init-param> 
			<!-- Data Source to connect to DB and execute the query configured under 'query' param. 
			Mandatory when 'query' param is configured -->
			<param-name>data-source-name</param-name>
			<param-value>jdbc/PBW</param-value>
		</init-param>
		<init-param> 
			<!-- Path to reset/reload entitlement -->
			<param-name>entitlement-reload-url</param-name>
			<param-value>/service/entitlement/reset</param-value>
		</init-param>
		<init-param> 
			<!-- Path for NO ACCESS redirect -->
			<param-name>no-access-page-url</param-name>
			<param-value>noaccess.html</param-value>
		</init-param>
		<init-param> 
			<!-- Variable name to fetch entitlement details form HttpSession
			NOTE: The 'sessionvar' object should be a Map with key as Privilege and value as access. -->
			<param-name>entitlement-session-variable</param-name>
			<param-value>USER_ENTITLEMENT</param-value>
		</init-param>
		<init-param> 
			<!-- Filter will ignore the URL requests that will match the first part of path(s) configured here.
			please delimit with ',' for multiple path  -->
			<param-name>ignore-url-list</param-name>
			<param-value>/service/common/getEntitlements,/service/common/currencies,/service/assetdebit/test,/service</param-value>
		</init-param>
		<init-param> 
			<!-- VALUE: true/false SKIP THE ENTITLEMENT IF ITS NOT ADDED IN THE TABLE CONFIGURED UNDER 'query' param. 
			PLEASE SET IT TO FALSE OR IGNORE THIS PARAM FOR BETTER AUTHENTICATION -->
			<param-name>unmatch-url-passthrough</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<servlet-name>JAXRSRestServlet</servlet-name>
	</filter-mapping>
	
	<mime-mapping>
        <extension>xls</extension>
        <mime-type>application/vnd.ms-excel</mime-type>
    </mime-mapping> 
	<mime-mapping>
        <extension>xlsx</extension>
        <mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</mime-type>
    </mime-mapping>
</web-app>