/* COMMON start */
html, body{
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: 11px;
	-webkit-font-smoothing: antialiased;
	font-family: "Open Sans",Arial, Helvetica, sans-serif;
	background-color: transparent;
}

html {
    /*background: url(../images/slash2.png);*/
    /*background: url(../images/slash.png);*/
    /*background: url(../images/page_bkg.png);*/
}
/* #F11F00 #AE0044, #F48400, #8BBC00, #004A65, #470071*/
html .boxH {
	min-height: inherit;
	height: inherit;
}

::-ms-clear { width : 0; height: 0; }
::-ms-reveal { width : 0; height: 0; }

[tabindex]{
	outline: none;	
}
#footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 1;
	padding-bottom: 2px;
}
main{
	min-height: 100%;
	padding: 55px 0 20px 53px;
	/*background-color: #f0f0f0;*/
}

.page-mask{
	position: fixed;
	background-color: rgba(0,0,0,0.2);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 2000;
}
.jqstooltip { box-sizing: content-box;}
.text-success{
	color: green;
}
.bold{
	font-weight: bold;
}
.black{
	color: #000;
}
table{
	outline: none;
}
.ui-loader{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 0;
	/*background-color: #fff;*/
}
.ui-loader{
	/*background-color: rgba(0,0,0,0.1);*/
	z-index: 0;
}
.ui-loader .loading-icon{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 100px;
	width: 170px;
	/*background-color: #f5f5f5;
	border: 1px solid #ccc;*/
	border-radius: 6px;
}

.sp {
  width: 30px;
  height: 30px;
  clear: both;
  margin: 20px auto;
  border-width: 4px;
  border-style: solid;
}
.sp-small {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle;
  border-width: 3px;
  border-style: solid;
}
/* Spinner Circle Rotation */
.sp-circle {
  border-color: black rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  -webkit-animation: spCircRot .4s infinite linear;
  animation: spCircRot .4s infinite linear;
}

@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.logo{
	display: inline-block;
    margin: 0px;
    border-radius: 2em;
    border: 2px solid #fff;
    width: 2em;
    height: 2em;
    overflow: hidden;
    font-size: 16px;
    line-height: 1em;
}
.logo .imgp {
	margin: 0.3em 0.2em 0.1em;
    height: 90%;
}
.logo .imgb{
	height: 100%;
    margin: -0.8em 0px 0px -0.7em;	
}
.text2{
	font-size: 18px;
	line-height: 1.8em;
	vertical-align: top;
	display: inline-block;
	margin-left: 15px;
	font-family: "Trebuchet MS";
	font-weight: 300;

}
/**Mossiac bar start**/

.mosaic-bar {
    background: none repeat scroll 0% 0% #5A8E22;
    border-bottom: 1px solid #82A7CC;
    position: relative;
    height: 10px;
}

.mosaic-bar span {
    position: absolute;
    height: 100%;
    top: 0px;
}

#color1 {
    background: none repeat scroll 0% 0% #00693E;
    width: 3.5%;
    right: 26.5%;
}
#color2 {
    background: none repeat scroll 0% 0% #BECB1F;
    width: 2%;
    right: 24.5%;
}
#color3 {
    background: none repeat scroll 0% 0% #0098CD;
    width: 1.5%;
    right: 23%;
}
#color4 {
    background: none repeat scroll 0% 0% #0067AC;
    width: 23%;
    right: 0px;
}
/***Mossiac bar end ***/


/***** Header Nav start ***/
.navbar-header{
    border-right: 1px solid #8CA9BB;
}
.navbar-default {
    
	background-color: #5d89b1;
    background-image: -moz-linear-gradient(top, #648eb4, #5381ac);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#648eb4), to(#5381ac));
    background-image: -webkit-linear-gradient(top, #648eb4, #5381ac);
    background-image: -o-linear-gradient(top, #648eb4, #5381ac);
    background-image: linear-gradient(to bottom, #648eb4, #5381ac);
    background-repeat: repeat-x;

    border: 1px solid #3f6283;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);    
    
    color: #fff;
}

.navbar-brand{
	height: 45px;
	padding: 6px 67px 8px 10px;
	-webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.navbar-default .navbar-brand{
	color: #f0f0f0;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand.active,
.navbar-default .navbar-brand:focus{
	color: #fff;
}

#userName {
    padding: 15px 50px 12px 25px;
    border-left: 1px solid #8CA9BB;
    font-size: 1.1em;
    color: gray;
}
/**** Header Nav end *****/

/*** Sidebar start **/
.sidebar-toggler,
.sidebar-toggler:link,
.sidebar-toggler:hover,
.sidebar-toggler:visited{
	padding: 15px 25px 15px 15px;
	color: #f0f0f0;
	text-decoration: none;
}
.sidebar-toggler:hover,
.sidebar-toggler.active{
	color: #fff;
}
#sidebar{
	height: 100%;
	background-color: #656565;
	position: fixed;
	top: 56px;
	left: 0;
	z-index: 10;
	/*border-right: 1px solid #e5e5e5;*/
	box-shadow: 0 2px 5px #999;
}
#sidebar .navigation-links > ul{
	width: 220px;
	/*background-color: #fff;*/
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	height: 100%;
}
#sidebar .navigation-links > ul a{
	display: block;
	text-decoration: none;
    color: #fff;	
}
#sidebar .navigation-links > ul a:hover {
	/*margin-bottom: 0;*/
}
#sidebar .navigation-links > ul > li{
    margin: 10px 0;
    padding: 0;
    /*background-color: #fff;*/
}
#sidebar .navigation-links > ul > li .sub-menu{
    height: 0;
    overflow: hidden;
    list-style: none;
    color: #fff;
    background-color: rgba(0,0,0,0.9);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    box-shadow: 0 3px 4px #777;
}

#sidebar .navigation-links > ul > li .sub-menu li a{
	display: block;
    padding: 10px 15px 10px 35px;
    /*background-color: #fff;*/
    margin-left: 53px;
    border-left: 1px solid #f5f5f5;
    color: inherit;
}
#sidebar .navigation-links > ul > li .sub-menu li a:hover{
	background-color: #333;
}

.app-sidebar-closed #sidebar .navigation-links > ul{
	width: 52px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.item-content .item-media,
.item-content .item-inner{
    display: table-cell;  
}
.item-content .item-media{
    text-align: center;
    /*border-right: 1px solid #f5f5f5;*/
    padding: 0px 10px 0 10px;
    font-size: 1.4em;
    position: relative;
}

.item-content .item-media > i,
.item-content .item-media > .fa-stack{
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    width: 34px;
    height: 34px;
    padding-top: 28%;
    /*border: 1px solid #828E96;
    box-shadow: 0 0 6px #aaa;*/
    background-color: #666; /*#3265B0;*/ /*#254363*/ /*#465158;*/
}

.item-content .item-media .fa-stack i{
	margin-top: -7px;
    margin-left: 6px;
}
.item-content .item-media .fa-stack i+i{
	margin-left: -6px;
}
.item-content .item-inner{
    padding: 0px 10px 0px 15px;
    width: 100%;
    position: relative;
	border-radius: 4px;
}
.item-content .item-inner.hasMenu{
	border-radius: 4px 4px 0 0;
}

.app-sidebar-closed #sidebar .navigation-links > ul > li > a > .item-content > .item-inner{
    display: none;
}
.app-sidebar-closed #sidebar .navigation-links > ul > li > a > .item-content > .item-inner:before {
    position: absolute;
    top: 9px;
    left: -7px;
    display: inline-block;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid rgba(0,0,0,0.9); /*#3265B0;*/ /*#465158;*/
    content: '';
}
.app-sidebar-closed #sidebar .navigation-links > ul > li:hover > a > .item-content{
    /*background-color: #fff;*/
	width: 225px;
}
.app-sidebar-closed #sidebar .navigation-links > ul > li:hover > a > .item-content > .item-inner{
    display: table-cell;
    /*box-shadow: 0px 0px 4px #555;*/
}
.app-sidebar-closed #sidebar .navigation-links > ul > li:hover > a > .item-content > .item-inner.hasMenu{
	/*box-shadow: 0px -2px 4px #555;*/
}
.app-sidebar-closed #sidebar .navigation-links > ul > li:hover > a > .item-content > .item-media > i,
.app-sidebar-closed #sidebar .navigation-links > ul > li:hover > a > .item-content > .item-media > .fa-stack{
	background-color: #000;
}

#sidebar .navigation-links > ul > li.active > a > .item-content > .item-media,
#sidebar .navigation-links > ul > li.active > a > .item-content > .item-inner{
    background-color: inherit;
    color: inherit;
}
#sidebar .navigation-links > ul > li:hover > a > .item-content .item-media i,
#sidebar .navigation-links > ul > li:hover > a > .item-content .item-media .fa-stack{
	box-shadow: none;
	border-color: #000; /*#3265B0;*/
}
#sidebar .navigation-links > ul > li.active > a > .item-content > .item-inner,
#sidebar .navigation-links > ul > li:hover > a > .item-content .item-inner{
	background-color: rgba(0,0,0,0.9); /*#3265B0;*/ /* #465158;*/
}

#sidebar .navigation-links > ul > li.active .sub-menu{
    height: auto;
}
.app-sidebar-closed #sidebar .navigation-links > ul > li.active .sub-menu{
	height: 0;
}
.app-sidebar-closed #sidebar .navigation-links > ul > li:hover .sub-menu{
    height: auto;
    width: 171px;
    padding: 0 0 0 0;
    position: absolute;
    overflow: hidden;
    list-style: none;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    /*box-shadow: 0px 2px 4px #555;*/
    left: 54px;
    margin: 0;  
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;      
}
.app-sidebar-closed #sidebar .navigation-links > ul > li:hover .sub-menu a{
	padding: 10px 15px 10px 25px;
    margin-left: 0;
    border-left: none;	
}
.app-sidebar-closed .navbar-brand{
	width: 53px;
    padding: 6px 10px 4px 10px;
    overflow: hidden;
}
/*** Sidebar end **/
 
/** Multiselect start**/
.multi-search{
	
}

.multi-search .input-search {
    position: relative;
}

.multi-search .input-search .ti-search {
    position: absolute;
    color: #ddd;
    top: .66em;
    left: 0.6em;
}
.multi-search .dropdown-toggle{
	box-shadow: none !important;
}

.multi-search >  div>.remove-all-items,
.multi-search > .remove-all-clients{
	display: none;
}

.multi-search.hasItems > div> .remove-all-items,
.multi-search.hasItems > .remove-all-clients{
	display: block;
}

.multi-search .open.hasItems > div> .remove-all-items,
.multi-search .open.hasItems > .remove-all-clients{
	display: none;
}

.multi-search .dropdown-menu {
    width: 700px;
    height: 275px;
    padding: 0;
    font-size: inherit;
}

.multi-search .dropdown-menu .row {
    margin: 0;
    height: 100%;
}
.multi-search .dropdown-menu .row > div {
	height: 100%; 
	padding: 0; 
	background-color: #f9f9f9;
}
.multi-search .dropdown-menu .row > div+div {
	border-left: 1px solid #ccc; 
	height: 100%; 
	padding: 0; 
	overflow: auto;
	background-color: transparent;
}

.multi-search .dropdown-menu label {
    padding: 5px 0px 0px 10px;
}

.multi-search .dropdown-menu-list {
	list-style: none;
	margin-bottom: 0;
    padding: 0;
}
.multi-search .dropdown-menu-list li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
    text-decoration: none;
	padding: 4px;	
	width: 100%;
	margin: 0;
	max-width: 100%;
	padding-right: 8%;
	padding-left: 10px;	
}
.multi-search .dropdown-menu-list li .remove-item{
	position: absolute;
    right: 4px;
    top: 0;
    cursor: pointer;
    font-size: 0.75em;
    padding: 7px;
}
.multi-search .dropdown-menu-list li .remove-item:hover{
	font-weight: bold;
}

.multi-search .dropdown-menu-list li.dropdown-item{
	position: relative;
}
.multi-search .dropdown-menu-list li a:hover{
	text-decoration: none;
	color: #262626;
	background-color: #E7E7E7;
}
.multi-search .more-results-available {
    border-top: 1px solid #ddd;
    bottom: 0;
    color: #008abc;
    padding: 4px 10px;
    position: absolute;
    transition: all 0.2s ease-in-out 0s;
    visibility: hidden;
    width: 100%;
}
.multi-search .json{
	display: none;
}

/** Multiselect end**/
.dropdown-menu{
	font-size: 12px;	
}
.dropdown-menu>li>a{
	padding: 5px 15px;
}

.multiselect{
	display: block;
}
.multiselect .dropdown-toggle{
	width: 100%;
}
.multiselect .dropdown-menu input[type="checkbox"]{
	vertical-align: text-bottom;
}
.multiselect .dropdown-menu>li>a{
	cursor: pointer;
}

.greenbg {
    background-color: #659c14!important;
    color: #fff;
}
.bdr-green{
    border: 1px solid #659c14;
}
.orangebg {
    background-color: orange!important;
    color: #fff;
}
.redbg {
    background-color: #cc171b!important;
    color: #fff;
}
.graybg {
    background-color: #aaa!important;
    color: #fff;
}
.bg-eee{
    background-color: #eee;
}
.Super {
    color: #B00202;
}
.Hard {
    color: #FF6100;
}
.Medium {
    color: #FFD500;
}
.Easy {
    color: #00DB00;
}

.filter-section{
	/*background-color: #e5e5e5;*/
	background: #ccc;
	/*background: -moz-linear-gradient(top,  #f5f5f5 0%, #e5e5e5 100%);
	background: -webkit-linear-gradient(top,  #f5f5f5 0%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #f5f5f5 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 );
		*/
    padding: 10px 0;
    border-bottom: 1px solid #bbb;
    /*margin-bottom: 15px;*/
}
.filter-section .form-control, .filter-section .dropdown-toggle{
	border-color: #bbb;
}
.input-search{
	display: inline-block;
	position: relative;
	-webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.input-search.form-control{
	padding: 0;
}
.input-search .fa {
    position: absolute;
    color: #ddd;
    top: .66em;
    left: 0.6em;
}
.input-search input[type="text"]{
	border-width: 0;
	width: 100%;
	height: 100%;
	padding-left: 1.8em;
	box-shadow: none;
	outline: none;
	background-color: transparent;
}

.widget-row{
	margin: 0 -15px 14px;
}
.widget-row, .widget{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
}
.widget .widget-content{
    width: 100%;
	-webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;    
    flex: 1 1 auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    flex-direction: column;
    position: relative;
}
.widget .widget-title{
    text-transform: capitalize;
    margin-bottom:5px;
    margin-top: 0px;
    padding: 5px 7px;
    font-size: 1.7em;
    font-weight: bold;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ccc;
    color: #333;	
    
}
.widget .widget-title .fa{
	margin-right: 3px;
}
.widget .widget-title .glyphicon{
	font-size: 0.8em;
} 

.widget .widget-inner {
	position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: inherit;
    width: inherit;
}
.widget .widget-title + .widget-inner {
	top: 30px;
}

.widget-content .nav-tabs>li {
    margin-left: 2px;
}

.widget.widget-name{
	text-align: center;
	min-height: inherit;
}
.widget.widget-name .widget-content{
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
	padding: 6px;
}

.widget.widget-name a{
	display: inline-block;
}
/*.widget.widget-name:after{
	position: absolute;
    content:attr(title);
    left:0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0 10px;
	background-color: #f5f5f5;
	border: 1px solid #e5e5e5;
    padding: 1em;
}*/

[ng-drag] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[ng-drag] {
    cursor: move;
}

[ng-drag].drag-over {
    border: 1px dashed #333;
}

[ng-drag].dragging {
    opacity: 0.5;
}

[ng-drop].drag-enter.widget-row {
	min-height: 200px;
}

[ng-drop].drag-enter {
	/*background-color: rgb(253, 255, 181);*/
	box-shadow: 0 0 5px #999 inset;
}
[ng-drop].drag-enter.widget-name{
	background-color: transparent;
    border: none;
	box-shadow: none;
}

[ng-drop].drag-enter.widget-name:after {
	background-color: rgb(253, 255, 181);
	box-shadow: 0 0 5px #999 inset;
}

/* Layout Manager area */
.layout-mgr-area{
	margin:15px 15px 0;
}
.layout-mgr-area .widget{
	min-height: 200px;
}
.layout-mgr-area .widget-row{
	padding: 10px 0;
}
.dashboard-area {
	height: 100%;
}
.dashboard-area .widget-content{
	/*box-shadow: 0 -2px 2px #999;*/
	/*background-color: #fff;*/
}
.dashboard-area .widget{
	-webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.dashboard-area .widget + .widget{
	padding-left: 0;
}
/* Grid override start**/
.ui-grid,
.ui-grid-header-cell,
.ui-grid-cell,
.ui-grid-top-panel,
.ui-grid-header-viewport{
	border-width: 0;
}
.ui-grid-header{
	border-width: 0;
}
.ui-grid-header-cell{
	font-weight: normal;
	border-width: 0;
	color: #5f5f5f;
	outline: none;
}

.ui-grid .ui-grid-header-cell .ui-grid-cell-contents{
	padding: 8px 5px 0;
}

.ui-grid .ui-grid-row .ui-grid-cell.sorting{
	background-color: #f3f3f3;
}

.ui-grid-top-panel, .ui-grid-header-viewport{
	background-image: none;
	background-color: transparent !important;
	color: #000;
}
.ui-grid-cell-contents{
	padding: 8px 5px;
}
.col-sort-icon.ui-grid-icon-blank {
    width: 0.9em;
}
.col-sort-icon{
	color: #800000;
	font-size: 1.2em;
}
.ui-grid-header-cell .ui-grid-sort-priority-number {
    margin-left: -1px;
    top: -0.8em;
    display: none;
}
.ui-grid-row:nth-child(even) .ui-grid-cell,
.ui-grid-row:nth-child(odd) .ui-grid-cell{
	background-color: transparent;
}
.ui-grid-row .ui-grid-cell:last-child .ui-grid-cell-contents,
.ui-grid .ui-grid-header-cell:last-child .ui-grid-cell-contents{
	padding-right: 16px;
}

.ui-grid-row:hover .ui-grid-cell{
	background-color: #f5f5f5;
}
.gridStyle .ui-grid-render-container-body .ui-grid-viewport{
	width: 100% !important;
}

.gridStyle{
	height: 100%;
}

.fa-btn{
	width: 1.6em;
    height: 1.6em;
    /*border: 1px solid #ccc;*/
    line-height: 1.6em;
    margin: -4px 0px 0px 0px;
    text-align: center;
    /* border-radius: 2px; */
    cursor: pointer;
    border-radius: 2px;
    /* background-color: #fff; */
    font-size: 1.2em;
	-webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
	text-shadow: 1px 1px 1px #ddd;
}
.fa-btn:hover{
	background-color: #e5e5e5;
	box-shadow: 0 0 3px #999 inset;
}
.fa-btn+.fa-btn{
	margin-left: 2px;
}
.fa-btn.fa-stack{
	font-size:0.6em
}
.fa-btn.fa-stack .fa-stack-2x{
	line-height: 1.6em;
}
.fa-btn.fa-stack .fa-stack-1x{
	font-size: 1.5em;
}
/* Grid override end**/



.watchList .widget-content{
	min-height: 330px;
}
.watchList .ui-grid-viewport{
	min-height: 182px !important;
	overflow-x: hidden !important;
}

.watchList .arc path {
  stroke: #fff;
}

/**************************************************/

.alerts > div{
	/*margin: 0 -6px;*/
	width: inherit;
	background-color: #fff;
}
.alerts .row > div.alert-item {
	padding-top: 10px;
	padding-bottom: 10px;
}
.alerts .value a, .alerts .value a:link, .alerts .value a:visited,.alerts .value a:hover{
	font-weight: bold;
	/*color: #333;
	background-color: #fff;
	padding: 6px 0 0;
	box-shadow: 0px 0px 1px #aaa;*/
}
.alerts .text {
	color: #888;
	text-transform: capitalize;
	padding-top: 3px;
	/*box-shadow: 0px 0px 1px #aaa;
	height: 50px;
	padding: 3px 6px;
	background-color: #e5e5e5;
	border-top: 1px solid #e0e0e0;*/
}
.alerts .alert-item + .alert-item {
	border-left: 1px dashed #ddd;
}
.alerts .row + .row .alert-item {
	padding-top: 0;
}
.alerts .row + .row .value {
	padding-top: 10px;
	border-top: 1px dashed #ddd;
}


