<style>
	.accruals .nav-pills{
		margin-top: 4px;
	    padding-left: 2px;
	    margin-bottom: 5px;
	    border-bottom: 2px solid #ccc;
	}
	.accruals .nav-pills>li>a {
	    padding: 6px 15px 5px;
	}
	.accruals .col-spl-2 {
	    width: 11.3333%;
	    float: left;
	    position: relative;
   		min-height: 1px;
    	padding-right: 15px;
    	padding-left: 15px;
	}

</style>
<div class="accruals">
<div class="filter-section">
<div class="container-fluid">
<div class="col-md-3"> <!-- ng-show="pageParams.view=='client'" -->
							
			<div class="datepicker">
				<label>As Of Date:</label>&nbsp;
					<span class="pull-right btn-group" role="group" style="padding-bottom:3px;margin-top:-5px;">
						<button type="button" class="btn btn-xs btn-default pmtd">Prior MTD</button>
						<button type="button" class="btn btn-xs btn-default mtd">MTD</button>
						<button type="button" class="btn btn-xs btn-default ytd">YTD</button>
						<button type="button" class="btn btn-xs btn-default today">Today</button>
					</span>
					<br>
			
			<!-- <div class="input-group col-md-6 pull-left" style="text-align:left;">From:</div>
			<div class="input-group col-md-6 pull-right" style="text-align:left;">To:</div> -->
	
		    <div class="input-group col-md-6 pull-left">
		      <input type="text" class="form-control" placeholder="From :" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-focus="open1()" show-button-bar="false" close-text="Close" show-weeks="false"/>
		              <span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
			</div>
			 <div class="input-group col-md-6 pull-right">
		      <input type="text" class="form-control" placeholder="To :" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-focus="open2()" show-button-bar="false" close-text="Close" show-weeks="false" />
		              <span class="input-group-btn">
		                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
		              </span>
		    </div>      
			</div>
			</div>
			<div class="col-spl-2">
			<label>Record Type:</label>&nbsp;
			<br/>
			<div class="dropdown multiselect" uib-dropdown on-toggle="toggled(open)" style="top: 5px; z-index: 1; right: 10px;">
			<button uib-dropdown-toggle class="btn btn-default btn-xs text-left dropdown-toggle" style="width: 120px"><span ng-bind="optionsText" style="text-transform: capitalize"></span> <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li ng-repeat="opt in options">
					<a role="menuitem" tabindex="-1" ng-click="setSelected($event, opt)">
						<i ng-if="opt.selected===true||options[0].selected===true" class="fa fa-check-square-o"></i>
						<i ng-if="!opt.selected===true && !options[0].selected" class="fa fa-square-o"></i> 
						<span ng-if="opt.caption" ng-bind="opt.caption"></span>
						<span ng-if="!opt.caption" ng-bind="opt.name"></span>
					</a>
				</li>
			</ul>
			</div>
			</div>
			
			<div class="col-spl-2">
			<label>Difficulty:</label>&nbsp;
			<br/>
			<div class="dropdown multiselect" uib-dropdown on-toggle="diffToggled(open)" style="top: 5px; z-index: 1; right: 10px;">
			<button uib-dropdown-toggle class="btn btn-default btn-xs text-left dropdown-toggle" style="width: 120px"><span ng-bind="optionsText" style="text-transform: capitalize"></span> <span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li ng-repeat="opt in difficultyOptions">
					<a role="menuitem" tabindex="-1" ng-click="setDiffSelected($event, opt)">
						<i ng-if="opt.selected===true||difficultyOptions[0].selected===true" class="fa fa-check-square-o"></i>
						<i ng-if="!opt.selected===true && !difficultyOptions[0].selected" class="fa fa-square-o"></i> 
						<span ng-if="opt.caption" ng-bind="opt.caption"></span>
						<span ng-if="!opt.caption" ng-bind="opt.name"></span>
					</a>
				</li>
			</ul>
			</div>
			</div>
							</div>
	
							
						</div>

</div>
<div class="col-xs-12">		
<ul class="nav nav-pills">
  <li role="presentation" ng-class="pageParams.view=='client'? 'active' : ''"><a href="#views/accruals?view=client">Client</a></li>
  <li role="presentation" ng-class="pageParams.view=='account'? 'active': ''"><a href="#views/accruals?view=account">Account</a></li>
  <li role="presentation" ng-class="pageParams.view=='channel'? 'active': ''"><a href="#views/accruals?view=channel">Channel</a></li>
</ul>
	 <div ng-if="gridOptions" ui-grid="gridOptions" class="gridStyle" style="height: 500px;">
</div>
</div>